@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9f9f9;
  font-family: "Source Sans Pro";
  color: black;
  scroll-behavior: smooth;
}

.debug {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

.media-debug {
  @apply bg-lime-300 xs:bg-amber-300 sm:bg-orange-400 md:bg-red-500 md-lg:bg-fuchsia-300 lg:bg-purple-500 lg-xl:bg-sky-400 xl:bg-emerald-400;
}

.page-margin {
  @apply mx-5 sm:mx-7 md:mx-10 md-lg:mx-20 lg:mx-28 lg-xl:mx-40;
}

.page-padding {
  @apply px-5 sm:px-7 md:px-10 md-lg:px-20 lg:px-28 lg-xl:px-40;
}

.my-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.masked-image {
  mask-image: url("/diamond-mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("/diamond-mask.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.no-scrollbar {
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.--orange {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

.--lime {
  outline: 2px solid;
  outline-color: hsl(84, 81%, 44%);
}

.--sky {
  outline: 2px solid;
  outline-color: hsl(199, 89%, 48%);
}

.--purple {
  outline: 2px solid;
  outline-color: hsl(271, 91%, 65%);
}
