@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9f9f9;
  font-family: "Source Sans Pro";
}

html {
  scroll-behavior: smooth;
}

.debug {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

.media-debug {
  @apply bg-lime-300 xs:bg-amber-300 sm:bg-orange-400 md:bg-red-500 md-lg:bg-fuchsia-300 lg:bg-purple-500 lg-xl:bg-sky-400 xl:bg-emerald-400;
}

.page-margin {
  @apply mx-5 sm:mx-7 md:mx-10 md-lg:mx-20 lg:mx-28 lg-xl:mx-40;
}

.page-padding {
  @apply px-5 sm:px-7 md:px-10 md-lg:px-20 lg:px-28 lg-xl:px-40;
}

.my-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

/* wave styling ------------------------------------------------------------ */

.wave-div-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-div-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 196px;
  transform: rotateY(180deg);
}

.wave-div-1 .shape-fill {
  fill: #3654ff;
}

.wave-div-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-div-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.wave-div-2 .shape-fill {
  fill: #3654ff;
}

/* carousel functionality ------------------------------------------------------------ */

.carousel-content {
  transition: all 0.5s ease;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.left {
  transform: translateX(-100%);
}

.carousel-content.right {
  transform: translateX(100%);
}
