.corner-border {
  --border-radius: 2rem;
  --border-overflow: -5px;
  position: relative;
  border: purple solid 5px;
}

.corner-border::before,
.corner-border::after {
  content: "";
  display: block;
  position: absolute;
  background: white;
}

.corner-border::before {
  top: calc(var(--border-overflow));
  bottom: calc(var(--border-overflow));
  left: var(--border-radius);
  right: var(--border-radius);
}

.corner-border::after {
  left: calc(var(--border-overflow));
  right: calc(var(--border-overflow));
  top: var(--border-radius);
  bottom: var(--border-radius);
}
