/* wave styling ------------------------------------------------------------ */

.wave-div-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-div-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 196px;
  transform: rotateY(180deg);
}

.wave-div-1 .shape-fill {
  fill: #3654ff;
}

.wave-div-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-div-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.wave-div-2 .shape-fill {
  fill: #3654ff;
}
