---
import "~/styles/Home.css";
import {
  DividerBottom1,
  DividerTop1,
  TestimonialCarousel,
  TextCard,
  Underline,
  UpcomingEventCard,
} from "~/components";
import HomeLayout from "~/layouts/HomeLayout.astro";
---

<HomeLayout title='EYP Cyprus'>
  <section
    id='welcome'
    class='mt-[10vh] flex h-[90vh] w-full flex-col justify-center gap-6'
  >
    <div
      class='flex flex-col gap-10 px-6 xs:px-10 sm:grid sm:grid-cols-12 sm:grid-rows-2 sm:px-0'
    >
      <div
        class='flex w-full justify-start sm:col-start-2 sm:row-start-1 sm:w-max'
      >
        <h2 class='text-5xl font-bold text-white sm:text-6xl md-lg:text-7xl'>
          Welcome to
        </h2>
      </div>
      <div
        class='flex w-full justify-end sm:col-start-3 sm:row-start-2 sm:w-max'
      >
        <h2
          class='text-5xl font-bold text-accent-900 sm:text-6xl md-lg:text-7xl'
        >
          Young Europe
        </h2>
      </div>
    </div>
    <div
      class='mt-28 flex items-center sm:mt-10 md:mt-12 lg:mt-16 xl:mt-16 2xl:mt-32'
    >
      <a
        href='/get-involved'
        class={`mx-auto w-max rounded-full bg-accent-900 text-black font-semibold 
        cursor-pointer transition-all duration-300 hover:scale-110
        py-5 px-9 text-xl  
        md:py-6 md:px-9  md:text-2xl lg:py-7 lg:px-10 lg:text-2xl xl:py-7 xl:px-10 xl:text-3xl`}
      >
        Join Us
      </a>
    </div>
    <!-- <div class='absolute bottom-[10%] right-[10%]'>
      <AnchorArrow anchorRef='#who-we-are' />
    </div> -->
  </section>
  {/* ------------------------------------------------------------ */}
  <section
    id='who-we-are'
    class='--lime page-margin mb-0 flex max-h-max min-h-[70vh] sm:-mb-20 sm:text-xl md-lg:grid md-lg:grid-cols-12'
  >
    <div class='z-20 col-span-6 mt-16'>
      <TextCard title='Who We Are' titleSize='font-semibold text-4xl'>
        The European Youth Parliament (EYP) is a non-partisan and independent
        educational platform bringing together thousands of young people from
        all over Europe to discuss current issues, develop their skills through
        dialogue and cooperation, as well as empower them to positively shape
        the world around them..
        <br />
        <br />
        The European Youth Parliament Cyprus is a non-governmental, non-partisan
        organisation and one of the 41 National Committees that come under the umbrella
        of the Pan-European EYP Network. EYP Cyprus was established in 2006 and has
        been actively working to organise events and activities catered towards the
        youth of Cyprus.
      </TextCard>
    </div>
    <!-- <div class='z-20 col-start-10 place-self-end'>
      <AnchorArrow anchorRef='#upcoming-events' />
    </div> -->
  </section>
  {/* ------------------------------------------------------------ */}
  <DividerBottom1 />
  <section
    id='upcoming-events'
    class='page-padding min-h-[60vh] bg-primary-600 pt-[10rem]'
  >
    <div class='mb-16 flex justify-center md:justify-end'>
      <div class='flex h-max w-max flex-col items-center gap-4 md:items-end'>
        <div class='text-center text-4xl font-semibold text-white'>
          Upcoming Events
        </div>
        <Underline className='w-14 rotate-180 text-accent-900' />
      </div>
    </div>
    <div class='flex justify-end'>
      <div
        class='no-scrollbar flex h-max max-w-max flex-row justify-between gap-9 overflow-x-scroll p-5'
      >
        <div class='basis-1/4'>
          <UpcomingEventCard
            title='Pre-Selection Days'
            description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod et dolore magna aliqua.'
            imageURL='/EventsPage/EventsPhoto1.jpg'
            date={"20/03/2023"}
          />
        </div>
        <div class='basis-1/4'>
          <UpcomingEventCard
            title='Days of EYP'
            description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod et dolore magna aliqua.'
            imageURL='/EventsPage/EventsPhoto2.jpg'
            date={"27/03/2023"}
          />
        </div>
        <div class='basis-1/4'>
          <UpcomingEventCard
            title='Youth Summit'
            description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod et dolore magna aliqua.'
            imageURL='/EventsPage/EventsPhoto3.jpg'
            date={"16/07/2023"}
          />
        </div>
        <div class='basis-1/4'>
          <UpcomingEventCard
            title='National Session'
            description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod et dolore magna aliqua.'
            imageURL='/EventsPage/EventsPhoto4.jpg'
            date={"24/08/2023"}
          />
        </div>
      </div>
    </div>
  </section>
  <DividerTop1 />
  {/* ------------------------------------------------------------ */}
  <section
    id='testimonials'
    class='page-margin mb-12 h-[60rem] pt-12 xs:h-[50rem] sm:max-h-max sm:min-h-[50vh]'
  >
    <div class='-mb-20 flex flex-col gap-5'>
      <div class='mb-16 flex justify-start'>
        <div class='flex h-max w-max flex-col items-center gap-4'>
          <h2 class='text-4xl font-semibold text-primary-800'>Testimonials</h2>
          <Underline className='h-max w-14 rotate-12 text-orange-600' />
        </div>
      </div>
      <TestimonialCarousel client:visible />
    </div>
    <!-- <AnchorArrow anchorRef='#welcome' /> -->
  </section>
</HomeLayout>
