@tailwind base;
@tailwind components;
@tailwind utilities;

.page-margin {
  @apply mx-5 sm:mx-7 md:mx-10 md-lg:mx-20 lg:mx-28 lg-xl:mx-40;
}

.page-padding {
  @apply px-5 sm:px-7 md:px-10 md-lg:px-20 lg:px-28 lg-xl:px-40;
}

.no-scrollbar {
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

.masked-image {
  mask-image: url("/diamond-mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("/diamond-mask.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.my-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

/* hide scrollbar in webkit browser */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.underliner {
  /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 10px), orange 5px);
  background-repeat: no-repeat;
  background-size: 0% 105%;
  transition: background-size 0.5s;
}

.linker:hover .underliner {
  background-size: 100% 105%;
}

/* dropdown functionality ------------------------------------------------------------ */

/* container needed to position the dropdown content */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* items inside the dropdown */
.dropdown-content .menu-item {
  display: block;
}

/* show the dropdown menu on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}

/* debug classes ------------------------------------------------------------- */
.debug {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

.media-debug {
  @apply bg-lime-300 xs:bg-amber-300 sm:bg-orange-400 md:bg-red-500 md-lg:bg-fuchsia-300 lg:bg-purple-500 lg-xl:bg-sky-400 xl:bg-emerald-400;
}

.--orange {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

.--lime {
  outline: 2px solid;
  outline-color: hsl(84, 81%, 44%);
}

.--sky {
  outline: 2px solid;
  outline-color: hsl(199, 89%, 48%);
}

.--purple {
  outline: 2px solid;
  outline-color: hsl(271, 91%, 65%);
}
