.wave-container {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-1 {
  background-image: url("../assets/elements/single-wave-1.svg");
}
