@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9f9f9;
  font-family: "Source Sans Pro";
}

html {
  scroll-behavior: smooth;
}

.debug {
  outline: 2px solid;
  outline-color: hsl(14, 80%, 50%);
}

/* dropdown functionality ------------------------------------------------------------ */

/* container needed to position the dropdown content */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* items inside the dropdown */
.dropdown-content .menu-item {
  display: block;
}

/* show the dropdown menu on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}

/* wave styling ------------------------------------------------------------ */

.wave-div-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-div-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 196px;
  transform: rotateY(180deg);
}

.wave-div-1 .shape-fill {
  fill: #3654ff;
}

.wave-div-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-div-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.wave-div-2 .shape-fill {
  fill: #3654ff;
}

/* carousel functionality ------------------------------------------------------------ */

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  box-sizing: content-box;
  display: flex;
  flex: none;
  scroll-snap-align: start;
}
.carousel-center .carousel-item {
  scroll-snap-align: center;
}
.carousel-end .carousel-item {
  scroll-snap-align: end;
}
