---
import "~/styles/index.css";
import {
  DebugOverlay,
  Footer,
  Header,
  HorizontalWaves,
  WaveDivider,
} from "~/components";
import { paths } from "~/data";

export interface Props {
  title: string;
  home?: boolean;
}

const { title, home = false } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
    </style>
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <DebugOverlay client:load />
    {
      home && (
        <div class='absolute left-0 top-[10vh] -z-10 w-full'>
          <WaveDivider
            waveLayers={paths.headerDiagonal}
            viewBox='0 0 1000 650'
          />
        </div>
      )
    }
    <Header client:load />
    {!home && <HorizontalWaves />}
    <slot />
    <Footer />
  </body>
</html>
