---
import TestLayout from "~/layouts/TestLayout.astro";
import "~/styles/index.css";
---

<TestLayout title='test'>
  <div
    class='page-padding flex max-h-max min-h-screen items-center justify-center bg-slate-950'
  >
  </div>
</TestLayout>
