---
import { TestimonialCarousel } from "~/components";
import TestLayout from "../../layouts/TestLayout.astro";
import "~/styles/index.css";
---

<TestLayout title='test'>
  <div
    class='bg-slate-950 page-padding flex max-h-max min-h-screen items-center justify-center'
  >
    <div class='debug flex w-full max-w-7xl justify-center'>
      <TestimonialCarousel client:load />
    </div>
  </div>
</TestLayout>
